table {
  border: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
  display: table-row;
}

td,
th {
  padding: 0px;
  border: 1px solid #ddd;
  margin: 0px;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  color: #333;
}

tr:nth-child(odd) {
    background-color: #747474;
    color: rgb(221, 221, 221);
  }

tr:hover {
  background-color: rgb(146, 146, 146);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ee7728;
  color: white;
}
