

<div class="container">
  <!--- Toolbar -->
  <div class="toolbar">
    <div>
      <button class="btn" [routerLink]="'/'">Home</button>
    </div>
    <div class="toolbar-right">
      <button class="btn" [routerLink]="'/about'">About Us</button>
      <button class="btn" [routerLink]="'/candidates'">Canditates</button>
    </div>
  </div>

<div  class="content">
  <router-outlet></router-outlet>
</div>

  <!--- Footer -->
  <div class="footer"> 
    Bir IK Firması © 2009 - 2020
  </div>

</div>